#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

.container-mobile {
    margin: auto;
    min-height: 100vh;
    max-width: 393px;
    width: 100%;
    background-image: url("./assets/images/BG.svg");
    background-repeat: no-repeat;
}

.font-hind {
    font-family: "Hind", sans-serif;
}

.App {
    text-align: center;
}
